<h1>[% pagename %]</h1>
<div class="mod_az_list">
  <a href="/5.[% major %].[% minor %]/index-functions.html">Perl functions A-Z</a> |
  <a href="/5.[% major %].[% minor %]/index-functions-by-cat.html">Perl functions by category</a> |
  <a href="/5.[% major %].[% minor %]/perlfunc.html">The 'perlfunc' manpage</a>
</div>

[% FILTER evaltt %]
  [% pod_html %]
[% END %]
